b
{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to left, hsl(from var(--dark-color) h s calc(l + 15)), hsl(from var(--light-color) h s calc(l + 5)));
    font-size: clamp(40px, 6vw, 16rem);
}

.loadingPage
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, var(--black-color), hsl(from var(--dark-color) h s calc(l - 10)));
    animation: disappearY 1.2s ease 4s;
    animation-fill-mode: forwards;
    z-index: 10;
}

.loadingPage > div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.loadingPage h1
{
    text-align: center;
    font-size: clamp(30px, 4vw, 12rem);
    color: #fefefe;
    animation: appearY 1s ease;
}

.loadingPage .icons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-bottom: 30px;
}

.loadingPage .icons .icon
{
    background-color: red;
    color: #fefefe;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: var(--black-color);
    box-shadow: 1px 1px 5px #333;
    animation: appearX 1s ease;
    /* animation: appearX 1s ease, spin 1.2s ease 0.7s; */
}

.loadingPage h2
{
    border: 2px solid var(--black-color);
    background-color: hsl(from var(--dark-color) h s l);
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-size: clamp(10px, 2vw, 20px);
    color: #fefefe;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    white-space: pre;
    height: 20px;
}

@keyframes spin
{
    0%
    {
        rotate: 0deg;
    }
    100%
    {
        opacity: 1;
        rotate: 360deg;
    }
}

@keyframes appearX
{
    0%
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appearY
{
    0%
    {
        opacity: 0;
        transform: translateY(100px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes disappearY
{
    0%
    {
        transform: translateY(0px);
        display: flex;
    }
    100%
    {
        transform: translateY(100vh);
        display: none;
    }
}