:root
{
    --black-color: hsl(168, 90%, 5%);
    --dark-color: hsl(168, 90%, 20%);
    --light-color: hsl(174, 48%, 92%);
    --loading-page-time: 5.2s;
    /* --loading-page-time: 0s; */
    --screen-width: 1127px;
    --min-padding: 20px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button
{
    cursor: pointer;
}

mark
{
    background-color: #fff;
    color: var(--dark-color);
    font-size: max(60px, calc((110 / 1920) * 100vw));
}

body
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-shrink: 0;
    padding-inline: var(--min-padding);
}

main
{
    overflow-x: hidden;
    padding: 25px;
    padding-top: 190px;
    padding-bottom: 100px;
    width: var(--screen-width);
}

main::-webkit-scrollbar
{
    display: none;
}

header
{
    background-color: var(--dark-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0px 2px 5px 1px #454545;
    display: flex;
    justify-content: center;
    padding-inline: var(--min-padding);
    transition: all 0.5s;
}

header > div
{
    width: var(--screen-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

header h1
{
    font-size: 30px;
    font-weight: 600;
    color: #fefefe;
}

header ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li
{
    list-style-type: none;
    margin-right: 30px;
}

header ul li:last-child
{
    margin-right: 0;
}

header ul li a
{
    color: #fefefe;
    text-decoration: none;
    letter-spacing: 1px;
}

header ul li a:hover
{
    text-decoration: underline;
}

header ul li a.selected
{
    font-weight: 700;
}

#title
{
    font-size: max(40px, calc((80 / 1920) * 100vw));
}

#hashtag
{
    display: flex;
    margin-block: 25px;
    flex-wrap: wrap;
}

#hashtag > li
{
    background-color: var(--light-color);
    padding: 5px 10px;
    border-radius: 7px;
    margin-right: 13px;
    list-style-type: none;
    margin-bottom: 10px;
}

#hashtag > li::before
{
    content: "#";
    margin-right: 5px;
}

#hashtag > li:last-child
{
    margin-right: 0;
}

div.main
{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
}

div.main > button
{
    width: max(200px, 17vw);
    aspect-ratio: 23 / 6;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid var(--dark-color);
    font-size: 17px;
    background-color: #fff;
    color: var(--dark-color);
    transition: transform 0.5s;
    margin-top: 10px;
}

div.main > button:hover
{
    transform: scale(1.1);
}

div.main > button.emphasize
{
    background-color: var(--dark-color);
    color: #fefefe;
}

.something
{
    width: 350px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 160px;
    top: 230px;
    border-radius: 50%;
    background: radial-gradient(circle at 40% 30%, var(--dark-color) 4%,57%, var(--black-color) 75%);
    animation: rotate 2s ease var(--loading-page-time) infinite alternate forwards;
}

@keyframes rotate
{
    0%
    {
        rotate: 0deg;
        transform: scale(1);
    }
    100%
    {
        rotate: 360deg;
        transform: scale(1.2);
    }
}

/* */

.seperator
{
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 100px;
}

#greeting
{
    font-size: max(40px, calc((70 / 1920) * 100vw));
    margin-top: 30px;
}

#greeting + p
{
    margin-top: 30px;
    line-height: 23px;
    word-break: keep-all;
}

#greeting + p > u
{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    display: block;
    margin-bottom: -10px;
}

.boxes
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    flex: 0 0 100%;
    flex-wrap: wrap;
}

.box
{
    width: 250px;
    aspect-ratio: 2 / 0.9;
    background-color: var(--light-color);
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    margin-bottom: 30px;
}

.box:last-child
{
    margin-right: 0;
}

.box i
{
    font-size: 25px;
    background-color: var(--dark-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    margin-bottom: 20px;
}

.box h1
{
    text-align: right;
    font-size: 60px;
    font-weight: 500;
}

.box h2
{
    font-size: 20px;
    font-weight: 500;
    margin-top: -10px;
    color: #454545;
}

.box.selected
{
    background-color: var(--dark-color);
}

.box.selected h1
{
    color: #fefefe;
}

.box.selected h2
{
    color: hsl(0, 0%, 95%);
}

.box.selected i
{
    background-color: #fefefe;
    color: var(--black-color);
}

/* */

.buttons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.buttons button
{
    min-width: 150px;
    width: calc((100% - 30px) / 3);
    height: 70px;
    background-color: var(--light-color);
    color: #000;
    border: 1px solid;
    border-radius: 7px;
    transition: all 0.5s;
    font-size: 20px;
}

.buttons button:hover
{
    transform: scale(1.05);
}

.buttons button.selected
{
    background-color: var(--dark-color);
    color: #fefefe;
}

.cards
{
    display: grid;
    grid-template-areas:
    "c1 c2 c3"
    "c4 c5 c6"
    "c7 c8 c9"
    "c10 c11 c12"
    "c13 c14 c15"
    "c16 c17 c18"
    "c19 c20 c21"
    "c22 c23 c24"
    ;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 50px;
}

.cards:has(.skill)
{
    grid-template-areas:
    "c1 c2 c3 c4 c5 c6"
    "c7 c8 c9 c10 c11 c12"
    "c13 c14 c15 c16 c17 c18"
    "c19 c20 c21 c22 c23 c24"
    ;
    grid-template-columns: repeat(6, 1fr);
}

.card
{
    background-color: #fefefe;
    border: 1px solid;
}

.card .image
{
    width: 100%;
    height: 280px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center !important;
    align-items: center;
    background-color: #f7f7f7;
}

.card .image img
{
    max-width: 100%;
    max-height: 100%;
}

.card:not(.portfolio) > div
{
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card.portfolio p
{
    font-size: 14px;
    word-break: keep-all;
    margin-top: 5px;
}

.card.portfolio > div
{
    padding: 10px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card.portfolio > div > div:nth-child(2)
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card.portfolio > div > div:nth-child(2) > a
{
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 400;
}

.card.portfolio > div > div:nth-child(2) > a > i
{
    margin-left: 5px;
}

.card.portfolio > div > div:nth-child(2) > button
{
    padding: 5px 10px;
    background-color: var(--dark-color);
    color: #fefefe;
    border: 2px solid #fefefe;
    border-radius: 2px;
    transition: all 0.5s;
}

.card.portfolio > div > div:nth-child(2) > button:hover
{
    background-color: #fefefe;
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
}

.card.portfolio > div > div:nth-child(2) > button > i
{
    margin-left: 3px;
}

.card.portfolio .name
{
    text-align: left;
    width: 100%;
}

.card .name
{
    font-size: 18px;
    font-weight: 500;
    word-break: keep-all;
}

.card .date
{
    font-size: 18px;
    font-weight: 400;
    color: #454545;
}

.card.portfolio:last-child
{
    position: relative;
    filter: brightness(60%);
}

.card.portfolio:last-child::after
{
    content: "개발 중단";
    color: red;
    font-size: 50px;
    display: inline-block;
    width: 200px;
    height: 70px;
    position: absolute;
    text-align: center;
    top: calc((100% - 70px) / 2);
    left: calc((100% - 200px) / 2);
}

@media (max-width: 1100px)
{
    .something
    {
        display: none;
    }
}

@media (max-width: 900px)
{
    .cards
    {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "c1 c2"
        "c3 c4"
        "c5 c6"
        "c7 c8"
        "c9 c10"
        "c11 c12"
        "c13 c14"
        "c15 c16"
        "c17 c18"
        "c19 c20"
        "c21 c22"
        "c23 c24"
        ;
    }
    .cards:has(.skill)
    {
        grid-template-areas:
        "c1 c2 c3"
        "c4 c5 c6"
        "c7 c8 c9"
        "c10 c11 c12"
        "c13 c14 c15"
        "c16 c17 c18"
        "c19 c20 c21"
        "c22 c23 c24"
        ;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px)
{
    header > div
    {
        flex-direction: column;
    }

    header ul
    {
        margin-top: 30px;
    }

    .buttons
    {
        flex-direction: column;
    }

    .buttons button
    {
        width: 100%;
    }

    .boxes
    {
        flex-direction: column;
    }

    .cards
    {
        gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "c1"
        "c2"
        "c3"
        "c4"
        "c5"
        "c6"
        "c7"
        "c8"
        "c9"
        "c10"
        "c11"
        "c12"
        "c13"
        "c14"
        "c15"
        "c16"
        "c17"
        "c18"
        "c20"
        "c21"
        "c22"
        "c23"
        "c24"
        ;
    }
    .cards:has(.skill)
    {
        grid-template-areas:
        "c1 c2"
        "c3 c4"
        "c5 c6"
        "c7 c8"
        "c9 c10"
        "c11 c12"
        "c13 c14"
        "c15 c16"
        "c17 c18"
        "c19 c20"
        "c21 c22"
        "c23 c24"
        ;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*

[ 미디어 쿼리 ]

header ul의 mt 조절하기
.boxes justify-content center로 하기

*/