.info
{
    width: 80%;
    margin-block: 50px;
    margin-left: 10%;
    border: solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.info .img
{
    width: 300px;
    aspect-ratio: 1 / 1.05;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    margin-bottom: 50px;
    margin-right: 30px;
}

.info .img img
{
    max-width: 90%;
    max-height: 90%;
    border: 1px solid;
}

.info p
{
    min-width: 300px;
    margin-top: 30px;
    font-size: 20px;
    display: inline-block;
}

.info .skills
{
    background-color: var(--dark-color);
}

.info .skills *
{
    color: #fff;
}

.info .skills h1
{
    font-size: 25px;
    font-weight: 400;
    margin: 35px;
    margin-bottom: 0;
}

.info .skills ul
{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 100px);
    border-top: solid #f7f7f7;
    padding-top: 10px;
    margin: 35px;
}

.info .skills ul li
{
    font-size: 20px;
    list-style: none;
    margin-right: 10px;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
}

.info .skills ul li::before
{
    content: "#";
    margin-right: 5px;
}

.info > div:not(.skills)
{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    height: 100%;
}

.info > div > div:not(.img)
{
    display: flex;
    flex-direction: column;
    width: min(100%, 600px);
    height: fit-content;
}

small
{
    color: #444;
}

small::before
{
    color: red;
    content: "( ! )";
    margin-inline: 5px;
    font-size: 20px;
}

button
{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home
{
    background-color: transparent;
    top: 15px;
    left: 15px;
    font-size: 25px;
    border: 2px solid;
    transition: all 0.7s;
    background-color: #fff;
}

.home i
{
    font-weight: 600;
}

.home:hover
{
    transform: rotate(-360deg);
}

.prev, .next
{
    background-color: var(--dark-color);
    color: #fff;
    top: calc((100vh - 50px) / 2);
}

.prev
{
    left: 55px;
}

.next
{
    right: 55px;
}